.spot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line-break {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
