/* #create-spot {
  cursor: pointer;
} /*
.manage-spot-buttons {
  background-color: dark gray;
  box-shadow: 2px 2px 2px 0px black;
  height: 20px;
  color: black;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
}

.manage-spots-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



#manage-spot-images {
  width: 300px;
  height: 250px;
  border: 2px solid black;
}

.manage-single-spot {
  padding: 8px;
    display: grid;
    height: 250px;
    width: 250px;
    max-width: 100%;
  }
.manage-spot-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#manage-city-state {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#manage-price {
  position: relative;
  top: -10px;
  grid-row: 2;
  grid-column: 1;
  font-weight: bold;
  margin-top: 5px;
}
#manage-avgRating {
  display: flex;
  justify-content: right;
  margin-right: 5px;
} */
#create-spot {
  cursor: pointer;
  color: white;
  background-color: red;
  box-shadow: 2px 2px 2px 0px black;
}
.manage-spots-list {
  list-style: none;
  display: grid;

  width: 98%;
  padding: 15px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

#manage-spot-images {
  height: 70%;

  width: 100%;

  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}

.manage-spot-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  /* height: 5px; */
  /* max-height: 50px; */
  gap:5px;
  font-size: small;
  padding-bottom: 100px;
}

#manage-city-state {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  top: -10px;
  height: 95%;
}

#manage-price {
  position: relative;
  top: -20px;
  grid-row: 2;
  grid-column: 1;
  font-weight: bold;
}
#manage-avgRating {
  display: flex;
  justify-content: right;
  margin-right: 5px;
  position: relative;
  top: -10px;
}
.manage-spot-buttons {
  background-color: dark gray;
  box-shadow: 2px 2px 2px 0px black;
  height: 20px;
  color: black;
  cursor: pointer;
  width: 80%;
  position: relative;
  bottom: -25px;
  /* padding-left: 3px; */
}
