#post-review-button {
  background-color: darkcyan;
  color: white;
  box-shadow: 2px 2px 2px 0px black;
  height: 25px;
  cursor: pointer;
  margin-bottom: 15px;
}
.create-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 350px;
  height: 300px;
  gap: 10px;
  text-align: center;
  padding: 20px;
}
.create-review-container textarea {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.create-review-container button {
  background-color: darkcyan;
  box-shadow: 2px 2px 2px 0px black;
  height: 40px;
  color: white;
  cursor: pointer;
}
.create-review-container button:disabled {
  background-color: grey;
}
.signup-form button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.create-review-container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.review-input {
  width: 600px;
}
.stars-input {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.reviews-ticker {
  margin-left: -15px;
}
.star-rating {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}
.star-filled {
  color: darkcyan;
}
.validation-message {
  color: red;
}

