/* .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
} */

.spots-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: -10px;
}

.spotImage {
  height: 250px;
  width: 250px;
  max-width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.spot-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#city-state {
  grid-row: 1;
  grid-column: 1;
}

#price {
  position: relative;
  top: -10px;
  grid-row: 2;
  grid-column: 1;
  font-weight: bold;
}
#avgRating {
  display: flex;
  justify-content: right;
  margin-right: 5px;
}
