.all-spots-list {
  list-style: none;
  display: grid;

  width: 98%;
  padding: 15px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 10px;
}

.spotImage {
  height: 70%;

  width: 100%;

  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}

.spot-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

#city-state {
  grid-row: 1;
  grid-column: 1;
}

#price {
  position: relative;
  top: -10px;
  grid-row: 2;
  grid-column: 1;
  font-weight: bold;
}
#avgRating {
  display: flex;
  justify-content: right;
  margin-right: 5px;
}
