.view-single-spot {
  margin-left: 40px;
  margin-right: 40px;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.spot-image {
  display: block;
  object-fit: cover;
}

.spot-image:not(:first-child) image {
  display: block;
  grid-column: span 1;
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.spot-image:first-child image {
  grid-column: span 2;
  grid-row: span 2;
  object-fit: cover;
}

.reservation-container {
  display: grid;
}

#description {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  top: 50px;
}
#name {
  grid-row: 1;
  grid-column: 1;
}

.reservation-details {
  border: 2px solid black;
  border-radius: 8px;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 15px;
  height: 90px;
}

#reserve-button {
  grid-column: span 2;
  grid-row: 2;
  cursor: pointer;
  background-color: red;
  box-shadow: 2px 2px 2px 0px black;
  color: white;
}

#priceSpot {
  grid-row: 1;
  grid-column: 1;
  margin-top: 5px;
}
.reviewsSpot {
  position: relative;
}
#review-ticker {
  margin-top: 5px;
}
.review-container {
  margin-left: 10px;
}
