.hidden {
  display: none;
}

.navigation-spotsList {
  list-style: none;
  display: flex;
  max-height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgray;
}
#home-image {
  max-height: 75px;
}
#navigation-header-right {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  /* margin-right: 10px; */
  gap: 10px;
}
#nav-create-spot {
  text-decoration: none;
  margin-right: 10px;
}
