.hidden {
  display: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spotsList {
  display: flex;
  max-height: 75px;
  width: 100%;
  align-items: center;
}
#home-image {
  max-height: 75px;
}
#header-right {
   display: flex;
  justify-self: flex-end;
}
