/* .ulClassName {
  display: grid;
  grid-template-columns: 1fr;
  gap: px;
} */

.dropdown-menu {
  list-style: none;
  display: grid;
  justify-items: center;
  position: absolute;
  right: 30px;
  background-color: #fff;
  border: 1px solid black;
  z-index: 1;
  margin-top: 2px;
}

.line-break {
  background-color: black;
  height: 3px;
  width: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

/* .fa-user {
  cursor: pointer;
} */
#profile-button {
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: -10px;
  margin-right: 15px;
}
.fa-user{
  margin: 2px;
}
