.login-form {
  z-index: 2;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 300px;
  width: 350px;
  gap: 10px;
  text-align: center;
  padding: 20px;
}
.login-form h1 {
  position: relative;
  top: 10px;
}
.login-form form {
  display: grid;
  gap: 15px;
  align-items: center;
  width: 90%;
  top: 10px;
}
.login-form input {
  display: grid;
  gap: 15px;
  align-items: center;
  width: 98%;
  border: 2px solid black;
}
.login-form button {
  background-color: darkcyan;
  box-shadow: 2px 2px 2px 0px black;
  height: 40px;
  color: white;
  cursor: pointer;
}
.login-form button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
#errors {
  color: red;
}
